.footer {
  background-color: $mainBlue;
  color: white;
  padding: 0.1rem 26px;
  text-align: center;

  &__text {
    font-size: 1.2rem;
    font-weight: 300;

    @mixin atSmall {
      margin-top: 1rem;
      /* float: left; */
    }
  }

  &__btn {
    width: 10rem;
    font-weight: 400;
    display: block;
    margin: 1rem auto 0 auto;

    @mixin atLarge {
      display: inline-block;
      margin: 0 0 0 3rem;
    }
  }
}
