.generic-content-container {
  p {
    line-height: 1.65;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0 0 1.8rem 0;
  }

  p a {
    font-weight: 600;
  }

  p strong {
    font-weight: 500;
  }
}
