.row {


  &--gutters > div{
    padding-right: 65px;
  }

  &--gutters {
    margin-right: -65px;
  }

  @mixin clearfix;

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
  }
}
