.testimonial {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 0 18px 1px 18px;
  margin-top: 8rem;

  @mixin atSmall {
    padding: 0 1.8rem 1px 1.8rem;
  }

  &__top {
    text-align: center;
    padding: 0 16px;
  }

  &__top-icon {
    position: relative;
    top: 12px;
  }

  &__top-title {
    display: inline;
    color: $mainBlue;
    font-weight: 300;
    font-size: 3.2rem;
    margin-left: 2rem;

    strong {
      font-weight: 600;
    }
  }

  &__img {
    border: solid 8px rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
  }

  &__title {
    color: $mainBlue;
    margin: .2rem 0;
    font-size: 1.9rem;
  }

  &__subtitle {
    color: $mainOrange;
    margin-top: .5rem;
    font-size: 1.2rem;
  }

  &__text {
    text-align: left;
  }
}
