.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &--narrow {
    max-width: 960px;
  }

  &--from-small-up {
    padding-left: 0;
    padding-right: 0;

    @mixin atSmall {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--b-margin {
    margin-bottom: 1.2rem;

    @mixin atMedium {
      margin-bottom: 3.3rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
